body
{
  background-color: #CFF5E7;
}
hr
{
  background-color: #CFF5E7;
  border-style: double none none;
  border-color:  #0D4C92;
  border-width:5px;
  width: 100%;
}
h1
{
  color: #59C1BD;
  font-style: oblique;
}
h2
{
  color: #59C1BD;
  font-style: oblique;
}
h3
{
  color: #59C1BD;
  font-style: oblique;
}
h4
{
  color: black;
  
}
h5
{
  color: #59C1BD;
  font-style: oblique;
}
